  <div id="modalMMTT" class="modal">
    <div class="modal-content">
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <circle cx="30" cy="30" r="10" fill="red" stroke='red'></circle>
            <circle cx="30" cy="30" r="14" fill="transparent" stroke='red' stroke-width='2px'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,8 55,8 30,51.3" fill="black" stroke="white"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">V</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">C</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white' ></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">S</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">A</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white active">
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">X</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="16" y="27" font-size="20" fill="yellow">TE</text>
            <polygon points="5,8 55,8 30,51.3" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="13" y="24" font-size="16" fill="yellow">AMA</text>
            <polygon points="5,8 55,8 30,51.3" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="13" y="24" font-size="16" fill="yellow">TOP</text>
            <polygon points="5,8 55,8 30,51.3" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">E</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow">
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">B</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">A</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">P</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">N</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="22" y="43" font-size="20" fill="yellow">M</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="20" y="43" font-size="20" fill="yellow">EI</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
            <polygon points="10,49 50,49 30,14" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="yellow"></polygon>
            <polygon points="10,49 50,49 30,14" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="10,49 50,49 30,14" fill="red" stroke="black"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="black" stroke-width='4px'></polygon>
            <polygon points="10,49 50,49 30,14" fill="red" stroke="black"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="16" y="36" font-size="20" fill="yellow" stroke="yellow">AA</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow" stroke="yellow">ACT</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow" stroke="yellow">ACV</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" stroke="yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow">HEP</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" stroke="yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow" stroke="yellow">HTE</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="black" stroke-width='4px'></polygon>
            <polygon points="10,30 30,10 50,30 30,50" fill="transparent" stroke="yellow"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="10" y="36" font-size="18" fill="darkblue" stroke="darkblue">PMA</text>
            <polygon points="5,10 55,10 55,50 5,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="15,25 25,25 25,15 35,15 35,25 45,25 45,35 35,35 35,45 25,45 25,35 15,35" fill="transparent" stroke="darkblue"></polygon>
            <polygon points="5,10 55,10 55,50 5,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="18" y="36" font-size="18" fill="darkblue" stroke="darkblue">AE</text>
            <polygon points="10,10 50,10 50,50 10,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="18" y="36" font-size="18" fill="darkblue" stroke="darkblue">PA</text>
            <polygon points="10,10 50,10 50,50 10,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="24" y="36" font-size="18" fill="darkblue" stroke="darkblue">H</text>
            <polygon points="10,10 50,10 50,50 10,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
    </div>
  </div>
