<div id="solicitud" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Solicitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>El equipo patatin está solicitando patatan.</p>
      </div>
      <div class="modal-footer">
        <button id="room1" type="button" class="btn btn-primary">Room 1</button>
        <button id="room2" type="button" class="btn btn-primary">Room 2</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>
      </div>
    </div>
  </div>
</div>
