<div class="loading" id="spinner">
    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div class="info">
  <i class="icon-info-sign gold"></i>
  <span class="extra-info">
    <p>Información sacada de <a href="https://zenodo.org/record/7495506#.Y-jII1Qo-Uk">The Portuguese Large Wildfire Spread Database</a></p>
    <ul>
      <li>Pulsar tecla S para parar animación</li>
      <li>Pulsar tecla D para reanudar</li>
      <li>Pulsar tecla A para volver al principio</li>
    </ul>
  </span>
</div>
<script src="/javascripts/app.bundle.js"></script>
