.new-colors {
  text-align: center;
  padding-top: 20px;
  padding-left: 5px;
  line-height: 60px;
}

.new-colors li {
  list-style: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, .1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  position: relative;
}

.new-colors > li:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 10px solid rgba(0, 0, 0, .15);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.new-colors > li.active-color{
  -webkit-transform: scale(1.2) translateY(-6px);
  transform: scale(1.2) translateY(-6px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  border-bottom: 20px solid rgba(0, 0, 0, .15);
}

.new-colors > li:nth-child(1){
  background-color: gold;
}

.new-colors > li:nth-child(2){
  background-color: darkviolet;
}

.new-colors > li:nth-child(3){
  background-color: indianred;
}

.new-colors > li:nth-child(4){
  background-color: darkorange;
}

.new-colors > li:nth-child(5){
  background-color: greenyellow;
}

.new-colors > li:nth-child(6){
  background-color: #ffa500;
}

.paint-container {
  position: fixed;
  top: 106px;
  left: 10px;
  width: 50px;
}

.linesToDelete {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 76px;
  top: 60px;
  width: 156px;
  height: 600px;
}

.linesToDelete div.line {
  padding: 6px;
  margin: 15px;
  border-radius: 20px;
  width: 30px;
  cursor: pointer;
}

.iconsToDelete {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 36px;
  margin: 16px;
  right: 76px;
  top: 60px;
  width: 145px;
  height: 600px;
  align-content: flex-start;
}

.iconsToDelete div {
  width: 40px;
  height: 40px;
  margin: 4px;
  cursor: pointer;
}

.textureButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal {
  display: block;
  z-index: 1;
  width: 250px;
  height: 600px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
}

.ico-content {
  width: 60px;
  height: 60px;
  float: left;
  stroke: white;
  stroke-width: 1px;
  background: #4d4d4d;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
}

.ico-content.active {
  background: #6d6d6d;
}

.stroke-white {
  stroke: white;
}

.stroke-white text {
  fill: white;
}

.stroke-yellow {
  stroke: yellow;
}

.stroke-white text {
  fill: yellow;
}

.ico-content svg {
  width: 60px;
  height: 60px;
}

.pull-tab {
  position: absolute;
  top: 50%;
  height: 75px;
  width: 30px;
  background: #414141;
  border: 2px solid #2d2d2d;
  border-radius: 5px 0 0 5px;
  left: -34px;
  cursor: pointer;
}

.pull-tab .circle {
  background: #fff;
  height: 7px;
  width: 7px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 7px;
}

.pull-tab .circle:first-child {
  margin-top: 18px;
}

.right-shelf {
  position: fixed;
  right: 0;
  top: 55px;
  width: 0;
  display: block;
  border-left: 2px solid#2d2d2d;
}

.right-shelf.open {
  width: 250px;
}

.video-container {
  position: fixed;
  bottom: 20px;
  left: 100px;
  z-index:2;
}

.new-seek {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 22px;
}

.new-seek:hover {
  opacity: 1;
}

.new-seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4d4d4d;
  cursor: pointer;
}

.new-seek::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4d4d4d;
  cursor: pointer;
}

.video-button {
  display:block;
  width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 19.2px solid #2d2d2d;
  margin: 10px 32px 16px auto;
  position:relative;
  z-index:1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 4px;
  float: left;
  cursor:pointer;
}

.video-button:before {
  content:"";
  position:absolute;
  top: -24px;
  left: -36.8px;
  bottom: -24px;
  right: -14px;
  border-radius:50%;
  border: 3.2px solid #2d2d2d;
  z-index:2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.video-button:after {
  content:"";
  opacity:0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}

.video-button.active {
  border-color:transparent;
}
.video-button.active:after {
  content:"";
  opacity:1;
  width:16px;
  height:25.6px;
  background:#2d2d2d;
  position:absolute;
  right: 1.6px;
  top: -12.8px;
  border-left:6.4px solid #2d2d2d;
  box-shadow:inset 9.6px 0 0 0 #32383f;
}

@media screen and (max-width: 1024px) {
  .icon div {
    padding: 10px;
    font-size: 42px;
  }

  .iconsToDelete {
    font-size: 19px;
  }

  .iconsToDelete div {
    padding: 10px;
  }
  .linesToDelete div.line {
    width: 58px;
  }
  .colors {
    padding-top: 6px;
    padding-left: 0px;
  }
  .colors li {
    margin: 4px; 
  }
}

